# Feature Extraction from Text - Coding Count Vectorization Manually

- Create a 'bag of words" model: a frequency count of words in documents.

Reading a text file amd creating a vocabulary

In [1]:
with open('One.txt') as mytext:
    words_one = mytext.read().lower().split()
    unique_words_one = set(words_one)

In [2]:
# Vocabulary of Text One
unique_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [3]:
with open('Two.txt') as mytext:
    words_two = mytext.read().lower().split()
    unique_words_two = set(words_two)

In [4]:
# Vocabulary of Text Two
unique_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [5]:
all_unique_words = set()
all_unique_words.update(unique_words_one)
all_unique_words.update(unique_words_two)

In [6]:
# Vocabulary of all texts
all_unique_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [7]:
full_vocabulary = dict()
i = 0

for word in all_unique_words:
    full_vocabulary[word] = i
    i = i + 1

In [8]:
full_vocabulary

{'a': 0,
 'about': 1,
 'catching': 2,
 'is': 3,
 'water': 4,
 'are': 5,
 'surfing': 6,
 'story': 7,
 'sport': 8,
 'pets': 9,
 'waves': 10,
 'dogs': 11,
 'our': 12,
 'canine': 13,
 'fun': 14,
 'animals': 15,
 'this': 16,
 'furry': 17,
 'popular': 18}

In [9]:
one_freq = [0]*len(full_vocabulary)
two_freq = [0]*len(full_vocabulary)
all_words = ['']*len(full_vocabulary)

In [10]:
with open('One.txt') as f:
    one_text = f.read().lower().split()

In [11]:
for word in one_text:
    word_ind = full_vocabulary[word]
    one_freq[word_ind] += 1

In [12]:
with open('Two.txt') as f:
    two_text = f.read().lower().split()

In [13]:
for word in two_text:
    word_ind = full_vocabulary[word]
    two_freq[word_ind] += 1

In [14]:
for word in full_vocabulary:
    word_ind = full_vocabulary[word]
    all_words[word_ind] = word

In [15]:
import pandas as pd
bag_of_words = pd.DataFrame(data=[one_freq, two_freq], columns=all_words)

In [16]:
bag_of_words

,a,about,catching,is,water,are,surfing,story,sport,pets,waves,dogs,our,canine,fun,animals,this,furry,popular
0,1,1,0,1,0,1,0,1,0,1,0,2,1,1,0,1,1,1,0
1,1,1,1,3,1,0,2,1,1,0,1,0,0,0,1,0,1,0,1